<!-----------------------------------------------------------------------------
-- NAME: Nickolas A. Williams 
-- DATE: 11/15/2015               
-- CLASS: CS 290, Section 400
-- PROJECT: GET and POST checker
-- FILENAME: post.handlebars
-- Static page for post requests
------------------------------------------------------------------------------>

<h1>POST Request Received</h1>
<table>
	<caption>URL DATA RECEIVED</caption>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
	
	<tbody>
	{{#each urlTable}}
		<tr>
			<td>{{this.name}}:</td>
			<td>{{this.value}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>

<br/>

<table>
	<caption>BODY DATA RECEIVED</caption>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
	
	<tbody>
	{{#each bodyTable}}
		<tr>
			<td>{{this.name}}:</td>
			<td>{{this.value}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>